<!DOCTYPE html>
<html lang="en-GB">

<head>
     <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/sytels.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/13814_8989.jpg" alt="about me">
    </div>
    {{>footer}}

</body>

</html>