<!DOCTYPE html>
<html lang="en-GB">

<head>
     <link rel="icon" href="/img/weather.png">
    <title>Help</title>
    <link rel="stylesheet" href="/css/sytels.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>{{message}}</p>
    </div>
    {{>footer}}
</body>

</html>